<nav class="w-full bg-slate-800 h-fit drop-shadow-xl px-[1.25rem] py-3 flex justify-between text-gray-200 text-xl">
    <a href="/" class="flex items-center justify-center gap-4 text-xl font-semibold">
        {% include "components/logo.html" %}
        Open Cosmos
    </a>

    <div id="icons" class="gap-x-2 justify-items-center flex items-center content-center font-medium">
        <a href="#"><i class="fa-brands fa-github"></i><span id="popout">Github Org</span></a>
        <a href="https://discord.gg/BrHPTPFpKS"><i class="fa-brands fa-discord"></i><span id="popout">Discord
                Inv</span></a>
        <a href="#"><i class="fa-brands fa-square-reddit"></i><span id="popout">Subreddit</span></a>
        <a href="#"><i class="fa-brands fa-patreon"></i><span id="popout">Support Us</span></a>
    </div>
</nav>