html {
    font-family: "Inter", sans-serif;
}

.spaceOverlay {
    background: url("/static/images/space1.webp");
    background-position: 0% 25%;

    @media screen and (max-width: 767px) {
        background-position: 0% 0%;
    }
}

a,
span,
p {
    font-family: "Poppins", sans-serif;
}

.cta-button {
    transition: transform 150ms;
    transition-timing-function: ease-in-out;
}

.cta-button:hover {
    transform: translate(0, -4px);
}
