*,
*::before,
*::after {
    box-sizing: border-box;
}

nav {
    #icons {
        a {
            display: flex;
            justify-items: center;
            gap: 0.5rem;
            text-wrap: nowrap;

            i {
                font-size: 1.5rem;
            }

            span {
                width: 0;

                font-size: 1rem;
                font-family: "Nunito", sans-serif;
                text-wrap: nowrap;

                transition: width 0.5s;

                overflow-x: hidden;
            }
        }

        a:hover {
            span {
                width: 5rem;
            }
        }
    }
}
