<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock meta %}

    {% block head %}
    <title>{{ title }}</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/tw.css">
    <script src="https://kit.fontawesome.com/0251f0c93e.js" crossorigin="anonymous"></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    {% endblock head %}
</head>

<body class="m-0 bg-slate-500">
    {% include "components/navbar.html" %}
    {% block content %}

    {% endblock content %}

    {% block scripts %}

    {% endblock scripts %}
</body>

</html>