<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock meta %}

    {% block head %}
    <title>{{ title }}</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/tw.css">
    <script src="https://kit.fontawesome.com/0251f0c93e.js" crossorigin="anonymous"></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    {% endblock head %}

    {% block seo %}

    <meta name="description"
        content="Open Cosmos - Free, Open Source spaceflight simulator, based off of Kerbal Space Program">
    <meta name="keywords" content="spaceflight simulator rocket game open source cosmos">

    {% endblock seo %}
</head>

<body class="m-0 bg-slate-500">
    {% include "components/navbar.html" %}
    {% block content %}

    {% endblock content %}

    {% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollToPlugin.min.js"></script>
    {% endblock scripts %}
</body>

</html>