{% extends "pages/base.html" %}

{% block head %}
{{ super() }}

<link rel="stylesheet" href="/static/css/index.css">
{% endblock head %}

{% block content %}
<header class="w-full h-[70vh] flex flex-col justify-center items-center md:gap-16 gap-8">
    <h1 class="text-3xl font-semibold text-center sm:text-4xl md:text-6xl text-slate-50">The cosmos, free to everyone.
    </h1>
    <div id="cta-buttons">
        <a href="#" id="cta-1">Read our blog<i class="fa-solid fa-arrow-right"></i></a>
        <a href="https://discord.gg/BrHPTPFpKS" id="cta-2">Join our Discord<i class="fa-solid fa-arrow-right"></i></a>
        <a href="#" id="cta-3">Button three<i class="fa-solid fa-arrow-right"></i></a>
    </div>
    <div class="h-64 md:h-48 lg:h-24"></div>
</header>
<section class="land-section">
    <div class="p-4 h-[40vh]">
        <img src="/static/images/rocket1.webp" alt="silly rocket" class="h-full rounded-3xl">
    </div>
    <article>
        <h2>Open Cosmos</h2>
        <p class="max-w-[40vw] mx-auto text-zinc-700">
            The open source, community-driven spaceflight simulator based off of Kerbal
            Space Program and
            catalyzed by Take Two's decisions. <br /><br />
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque rem soluta incidunt, ipsam excepturi ex
            dolor possimus iste in. Autem
            maxime recusandae quia nostrum possimus, tempora perferendis rem quaerat doloribus! Lorem ipsum dolor sit,
            amet consectetur adipisicing elit. Incidunt laborum soluta optio sequi asperiores, quas inventore suscipit
            itaque dicta deserunt eius rerum molestias. Similique consectetur quisquam architecto. Facere, quisquam
            repellat.</p>
    </article>
</section>

<section>
    <article class="bg-gray-600">
        <h2>Project Status</h2>
        <p class="max-w-[40vw] mx-auto text-zinc-700">
            The project is currently in the extremely early state, with decisions still being made which direction for
            the game to be in. That means <b>YOU</b> can be a part of shaping it! Contribute to the community by joining
            the Discord server and lay your mark on the development of the
            game! <br /><br />
            We really need your help, whether it's game development, music, sounds, art, models, game design, and more!

        </p>
        <a href="https://discord.gg/BrHPTPFpKS" class="block p-4 mt-8 text-white bg-[#7289da] rounded-2xl w-fit"><i
                class="pr-2 fa-brands fa-discord"></i>
            Join the Discord
            <i class="pl-2 fa-solid fa-arrow-right"></i></a>
    </article>
    <img src="/static/images/rocket1.webp" alt="another silly rocket" class="bg-blue-950">
</section>

{% endblock content %}

{% block scripts %}

{{ super() }}
<script src="/static/js/index.js"></script>

{% endblock scripts %}